.Toyota{
    color: cadetblue;
    font-family: "Bookman Old Style";
}
.Mercedes{
    color: black;
    font-family: "Bookman Old Style";
}
.Ford{
    color: blue;
    font-family: "Bookman Old Style";
}
#Jeep{
    color: olive;
    font-family: "Bookman Old Style";
}

